<div id="<%= dom_id expense_report %>">
  <p>
    <strong>Title:</strong>
    <%= expense_report.title %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= expense_report.category %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= expense_report.amount %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= expense_report.date %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= expense_report.description %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= expense_report.status %>
  </p>

  <p>
    <strong>User:</strong>
    <% if current_user.manager? %>
      <%= expense_report.user&.email %>
    <% end %>
  </p>

</div>
